# This file contains user-specific PII that should not be committed to a public repository.
# Copy this file to users/local-user.nix and fill in your details.
# Add users/local-user.nix to your .gitignore.

{ ... }:
{

  # Git user name and email
  programs.git.settings = {
    user.name = "Your Name"; 
    user.email = "your.email@example.com"; 
  };

}
